[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "*"
requests = "*"
ratelimit = "*"

[dev-packages]
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"
requests-mock = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pytest-xdist = "*"

[requires]
python_version = "3.8"
